* {
    border: 1px solid black;
}

button {
    border-radius: 5%;
}

#login_header {
    height: 20vh;
    text-align: center;
    background-color: black;
    color: white;
}

#login {
    text-align: center;
    height: 60vh;
    background-color: dodgerblue;
}

#login input {
    height: 5vh;
    width: 50vw;
    font-size: 1em;
    border: 2px solid black;
}

#email_input {
    margin-top: 10%;
}

#password_input {
    margin-top: 2%;
}

#login_submit {
    padding: 2%;
}

#login_footer {
    height: 15vh;
    text-align: center;
    background-color: black;
    color: white;
}